:root {
  --yougle-green: rgb(52, 168, 83);
  --yougle-blue: rgb(66, 133, 244);
  --yougle-red: rgb(234, 67, 53);
  --yougle-yellow: rgb(251, 188, 5);
  --background-white: #efefef;
  --foreground-white: #fdfdfd;
  --global-font: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbarpage {
  height: calc(100vh - 12em);
}

/* Search Page */

.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}

.Yougle-logo {
  height: 20vmin;
}

.Search-bar {
  padding: 2px 4px;
  width: 60vw;
  display: flex;
  align-items: center;
}

.Search-Hist-List {
  width: calc(60vw + 0.5em);
  display: flex;
  flex-direction: column;
}

.Search-Hist-Del-Button {
  justify-self: center;
  background: none;
  padding: 0.25em;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
}

.Search-Hist-Del-Button:hover {
  color: var(--foreground-white);
  background-color: rgba(0, 0, 0, 0.15);
}

.Search-Hist-Button {
  padding: 1em;
  border: none;
  text-align: left;
  background: none;
  font-family: var(--global-font);
  font-size: 1em;
  overflow: hidden;
}

.Search-Hist-Item:hover button {
  background-color: rgba(0, 0, 0, 0.15);
}

.Search-items {
  display: grid;
  row-gap: 2em;
  column-gap: 2em;
}

@media (min-width: 800px) {
  .Search-items { 
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .Search-items { 
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .Search-items { 
    grid-template-columns: repeat(4, 1fr);
  }
}

.Search-item .Chat-title > #team-name {
  font-size: 1.25em;
  color: black;
}

.Search-item .Chat-title > #channel-name {
  font-size: 0.85em;
  color: gray;
}

.Search-item .Click-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.Click-buttons > #Copy-button:hover {
  color: var(--yougle-blue);
}

.Click-buttons #Star-button:hover {
  color: var(--yougle-yellow);
}

.Click-buttons #Link-button:hover {
  color: var(--yougle-red);
}

.Click-buttons #Open-button:hover {
  color: var(--yougle-green);
}

.Search-item .Service-img {
  object-fit: contain;
  padding: 10px;
  border-radius: 1em;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 1.75em;
}

.Search-item > .Search-text {
  display: -webkit-box;
  word-wrap: break-word;
  overflow: hidden;
  margin: 0.5em;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

/* Sign Up */

.Main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Row-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 1em;
  width: auto;
}

.Col-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 1em;
}

.Pass-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 0.5em;
}

/* Nav Bar */

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  height: 4em;
  /* border-radius: 0 0 1vw 1vw; */
  box-shadow: 1px 1px 4px #282c3422;
  box-sizing: border-box;
}

.Bar {
  position: relative;
  display: flex;

  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.Nav-link {
  font-family: var(--global-font);
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  font-size: 1em;
  padding: 0 1em 0;
  font-weight: bold;
  transition: transform 0.15s;
}

.Nav-link:hover {
  transform: scale(1.1);
}

#account-buttons {
  position: absolute;
  right: 0;
}

/* Profile Page */

.Acc-box {
  position: absolute;
  top: calc(50% + 2em);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  min-width: 550px;
}

.Acc-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: left;
  gap: 1.5em;
  margin: 0 2% 0;
  padding: 2% 2% 2%;
  background: linear-gradient(var(--yougle-blue) 20%, var(--background-white) 0%);  
}

#Acc-pic {
  font-size: 8em;
  color: var(--yougle-green);
  background: var(--background-white);
  border-radius: 50%;
  margin-top: 10%;
}

#Info-container {
  display: flex;
  flex-direction: column;
  background-color: var(--foreground-white);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 2%;
  padding: 3% 6% 4%;
  row-gap: 1em;
}

#edit-button {
  height: 5%;
  background: var(--yougle-blue);
  transform: translate(0, 50%)
}

#unedit-button {
  height: 5%;
  background: var(--yougle-green);
}

Row-Box > TextField {
  width: 45%
}

/* History Page */

.history-box {
  overflow-y: auto;
}

.history-box::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5em;
}
.history-box::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10em;
}

.history-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-left: 0.75em;
  margin-bottom: 1.5em;
  margin-right: 2em;
  border-radius: 1em;
  border: thin solid rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.history-text {
  overflow-x: auto;
}

.history-text::-webkit-scrollbar {
  display: none;
}